<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.compliwise.capture</string>

	<key>ProgramArguments</key>
	<array>
		<string>YOUR_PATH/capture</string>
	</array>

	<key>WorkingDirectory</key>
	<string>YOUR_PATH</string>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>EnvironmentVariables</key>
	<dict>
		<key>API_SECRET</key>
		<string>your_secret_here</string>
		<key>PORT</key>
		<string>59232</string>
		<key>GIN_MODE</key>
		<string>release</string>
	</dict>

	<key>UserName</key>
	<string>user_name</string>

	<key>GroupName</key>
	<string>group_name</string>

	<key>StandardOutPath</key>
	<string>YOUR_PATH/capture.log</string>

	<key>StandardErrorPath</key>
	<string>YOUR_PATH/capture.error.log</string>
</dict>
</plist>
